<%- include('./baseEjs/header')%>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">person</i>
                  </div>
                  <p class="card-category">Add Members</p>
                  <h5 class="card-title">
                    <small>Expand Group</small>
                  </h5>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <a data-toggle="modal" data-target="#modal1" href="#">Upload Excel or CSV</a>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="card">
                <div class="card-header card-header-tabs card-header-green">
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item col-md-4">
                          <a class="nav-link col active show" href="#studs" data-toggle="tab">
                            <i class="material-icons">person</i> Students
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="nav-item col-md-4">
                          <a class="nav-link" href="#tass" data-toggle="tab">
                            <i class="material-icons">supervisor_account</i> Faculty
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="nav-item col-md-4">
                          <a class="nav-link" href="#instructor" data-toggle="tab">
                            <i class="material-icons">manage_accounts</i> Staff
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="tab-content">
                    <div class="tab-pane  active show" id="studs">
                        <table class="dtBasicExample1 table table-hover table-striped table-sm tab-resp" width="100%">
                            <thead class="text-warning" width="100%">
                              <tr><th>Username</th>
                              <th>Email Address</th>
                              <th>Name</th>
                              <th></th>
                            </tr></thead>
                            <tbody width="100%">
                              <% users.forEach(user => { %>
                                <% if(user.student){ %>
                                  <tr>
                                    <td><%= user.username.toUpperCase() %></td>
                                    <td><%= user.email %></td>
                                    <td><%= user.name %></td>
                                    <td><i class="material-icons delete" onclick="deleteUser('<%= user._id %>')">delete</i></td>
                                  </tr>
                                <% } %>
                              <% }); %>
                            </tbody>
                        </table>        
                    </div>
                    <div class="tab-pane" id="tass">
                      <table class="dtBasicExample1 table table-hover table-striped table-sm tab-resp" width="100%">
                          <thead class="text-warning">
                            <tr><th>Username</th>
                            <th>Email Address</th>
                            <th>Name</th>
                            <th></th>
                          </tr></thead>
                          <tbody>
                            <% users.forEach(user => { %>
                              <% if(user.faculty){ %>
                                <tr>
                                  <td><%= user.username.toUpperCase() %></td>
                                  <td><%= user.email %></td>
                                  <td><%= user.name %></td>
                                  <td><i class="material-icons delete" onclick="deleteUser('<%= user._id %>')">delete</i></td>
                                </tr>
                              <% } %>
                            <% }); %>
                          </tbody>
                      </table>              
                    </div>
                    <div class="tab-pane" id="instructor">
                      <table class="dtBasicExample1 table table-hover table-striped table-sm tab-resp" width="100%">
                        <thead class="text-warning">
                          <tr><th class="th-sm">Username</th>
                          <th class="th-sm">Email</th>
                          <th>Name</th>
                          <th></th>
                        </tr></thead>
                        <tbody>
                          <% users.forEach(user => { %>
                            <% if(user.staff){ %>
                              <tr>
                                <td><%= user.username.toUpperCase() %></td>
                                <td><%= user.email %></td>
                                <td><%= user.name %></td>
                                <% if(String(user._id) !== String(staff._id)){ %>
                                  <td><i class="material-icons delete" onclick="deleteUser('<%= user._id %>')">delete</i></td>
                                <% }else{ %>
                                  <td> </td>
                                <% }%>
                              </tr>
                            <% } %>
                          <% }) %> 
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal 1 -->
      <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content card">
            <div class="card-header card-header-green">
              <h4 class="modal-title">Add Students and TA's</h4>
            </div>
            <div class="modal-body">
                <h5 style="padding-bottom: 12px"><b>Please follow the instructions to add new users in a genunine manner.</b></h5>
                <p style="padding-bottom: 10px">1. Only EXCEL files are allowed. <a href="/DashboardStaff/downloads/sample_new_accounts.xlsx" download>Sample Excel File</a></p>
                <p style="padding-bottom: 10px">2. There could be multiple columns, there order does not matter, for example - email can be given in the column after or before username but inside email column, only email should be there.</p>
                <p style="padding-bottom: 10px">3. If any duplicate entry is found, then first copy will be taken to create account.</p>
                <p style="padding-bottom: 10px">4. Compulsory Columns are : Email, Username, Account Type. Account type can be "Student", "Faculty", "Staff" or "TA". Column Names should be in title case.</p>
                <p style="padding-bottom: 10px">5. An auto-generated password would be sent to the email address, which will also contain account type and other login credentials.</p>

                <form class="form-inline" id="formadduserstaff" action="/dashboard/staff/users/add" method="POST" enctype="multipart/form-data">
                    <div class="mb-2">
                        <input id="accountCreationFile" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="" name="excelFile" required>
                    </div>
                    <input type="button" id="course_button" class="btn btn-primary pull-right" value="Add Members" onclick="submitForm()"/>
                </form>
            </div>
          </div>
        </div>
      </div>
      </div>
<%- include('./baseEjs/footer')%>