<%- include('./baseEjs/header')%>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">verified</i>
                      </div>
                      <p class="card-category">Assign Marks</p>
                      <h5 class="card-title"><small>Written</small></h5>
                    </div>
                    <div class="card-footer">
                      <div class="stats">
                        <a href=<%= quizId + '/viewDetailAnalysis' %>>Assign Marks</a>
                      </div>
                    </div>
                </div>
            </div>
            <input type="text" name="quizId" id="quizId" value="<%= quizId %>" hidden>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card card-stats">
                    <div class="card-header card-header-alert card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">flaky</i>
                      </div>
                      <p class="card-category">Calculate Score</p>
                      <h5 class="card-title"><small>for MCQ</small></h5>
                    </div>
                    <div class="card-footer">
                      <div class="stats">
                        <a href="" onclick="generateScore()">Generate Score for MCQ's</a>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">create</i>
                      </div>
                      <p class="card-category">Plagiarism</p>
                      <h5 class="card-title"><small>Written</small></h5>
                    </div>
                    <div class="card-footer">
                      <div class="stats">
                        <a href="" 
                        <% if(!quiz.webDetectionDone){ %>
                            onclick="generatePlagiarismReport()"
                        <% } %>
                        >Detect Web Sources</a>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">create</i>
                      </div>
                      <p class="card-category">Similarity</p>
                      <h5 class="card-title"><small>Written</small></h5>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                          <a href=""
                          <% if(!quiz.studentAnswersMatched){ %>
                            onclick="generateSimilarityReport()"
                          <% } %>
                          >Match Student's Answers</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">visibility</i>
                      </div>
                      <p class="card-category">Proofs</p>
                      <% if(quiz.illegalAttemptsPresent){ %>
                        <h5 class="card-title"> <small> Available </small></h5>
                      <% }else{ %>
                        <h5 class="card-title"> <small> Deleted </small></h5>
                      <% } %>
                    </div>
                    <div class="card-footer">
                      <div class="stats">
                        <a 
                        <% if(quiz.illegalAttemptsPresent){ %>
                            data-toggle="modal" data-target="#modal7" 
                        <% } %>
                        href="">Delete Proofs</a>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">delete</i>
                    </div>
                    <p class="card-category">Delete Quiz</p>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <a data-toggle="modal" data-target="#modal8" href="#">Delete This Quiz</a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <p></p>
          <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-green">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item col-lg-3 col-md-6">
                                        <a class="nav-link active" href="#mcqs" data-toggle="tab">
                                            <i class="material-icons">flaky</i> MCQ Questions
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item col-lg-3 col-md-6">
                                        <a class="nav-link" href="#writtens" data-toggle="tab">
                                            <i class="material-icons">create</i> Written Questions
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item col-lg-3 col-md-6">
                                        <a class="nav-link" href="#assign" data-toggle="tab">
                                            <i class="material-icons">turned_in</i> View Scores
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item col-lg-3 col-md-6">
                                        <a class="nav-link" href=<%= quizId + '/viewDetailAnalysis' %>>
                                            <i class="material-icons">turned_in</i> View Detailed Analysis
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <p style="display: none;" id="quiz_id">13</p>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="mcqs">
                                <table class="dtBasicExample table table-hover table-striped table-lg tab-resp" width="100%">
                                    <thead class="text-warning">
                                    <th>Question</th>
                                    <th>Options</th>
                                    <th class="mcq-table">Correct Options</th>
                                    <th class="mcq-table">Marking Scheme</th>
                                    <th class="mcq-table">Maximum Marks</th>
                                    <th>Negative Marking</th>
                                    </thead>
                                    <tbody>
                                        <% questions.forEach(question => { %>
                                            <% if(question.mcq){ %>
                                              <tr>
                                                <td><%= question.question %></td>
                                                <td><%= question.options %></td>
                                                <td><%= question.correctOptions %></td>
                                                <% if(question.markingScheme){ %>
                                                  <td>Partial Marking</td>
                                                <% } else{ %>
                                                  <td>No Partial Marking</td>
                                                <% } %>
                                                <td><%= question.maximumMarks %></td>
                                                <td><%= question.negativeMarking %></td>
                                              </tr>
                                            <% } %>
                                        <% }) %>
                                    </tbody>
                                </table>        
                            </div>
                            <div class="tab-pane" id="writtens">
                                <table class="dtBasicExample table table-hover table-striped table-lg tab-resp" width="100%">
                                    <thead class="text-warning">
                                    <th>Question</th>
                                    <th></th>
                                    <th>Maximum Marks</th>
                                    </thead>
                                    <tbody>
                                        <% questions.forEach(question => { %>
                                            <% if(!question.mcq){ %>
                                              <tr>
                                                <td><%= question.question %></td>
                                                <td></td>
                                                <td><%= question.maximumMarks %></td>
                                              </tr>
                                            <% } %>
                                        <% }) %>
                                    </tbody>
                                </table>              
                            </div>
                            <div class="tab-pane" id="assign">
                                <table class="dtBasicExample table table-hover table-striped table-lg tab-resp" width="100%">
                                    <thead class="text-warning">
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Score</th>
                                    </thead>
                                    <tbody>
                                        <% submissions.forEach(submission => { %>
                                            <tr>
                                                <td><%= submission.user.username %></td>
                                                <td><%= submission.user.email %></td>
                                                <td><%= submission.mcqScore + submission.writtenScore %></td>
                                            </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <!-- Modal 7 -->
      <div class="modal fade" id="modal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable-centered modal-md" role="document">
          <div class="modal-content card">
            <div class="card-header card-header-green">
              <h4 class="modal-title">Delete Illegal Attempts Proofs</h4>
            </div>
            <div class="modal-body">
                <h5 style="padding-bottom: 12px"><b>All Illegal Attempts data related to this quiz will be deleted</b></h5>
                <form action= <%= quizId + '/deleteIllegalAttempts' %> method="POST">
                  <div class="form-group">
                    <label class="bmd-label">Enter "<b><%= quiz.quizName %></b>" to delete this quiz</label><br>
                    <input type="text" class="form-control" id="random_string" name="confirmation" required>
                  </div>
                  <input type="submit" id="quiz_button1" class="btn btn-primary pull-right" value="Delete Proofs"/>
                </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal 8 -->
      <div class="modal fade" id="modal8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable-centered modal-md" role="document">
          <div class="modal-content card">
            <div class="card-header card-header-green">
              <h4 class="modal-title">Delete This Quiz</h4>
            </div>
            <div class="modal-body">
                <h5 style="padding-bottom: 12px"><b>All data related to this quiz will be deleted</b></h5>
                <form id="deleteQuiz" action= <%= quizId + '/deleteQuiz' %> method="POST">
                    <div class="form-group">
                      <label class="bmd-label">Enter "<b><%= quizId %></b>" to delete this quiz</label><br>
                      <input type="text" class="form-control" id="random_string" name="confirmation" required/>
                    </div>
                      <input type="submit" id="quiz_button" class="btn btn-primary pull-right" value="Delete Quiz"/>
                </form>
            </div>
          </div>
        </div>
      </div>

      </div>
<%- include('./baseEjs/footer')%>