<%- include('./baseEjs/header')%>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">person</i>
                  </div>
                  <p class="card-category">Add Users</p>
                  <h5 class="card-title">
                    <small>Enroll</small>
                  </h5>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <a data-toggle="modal" data-target="#modal1" href="#">Upload Excel File</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card card-stats">
                <div class="card-header card-header-secondary card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">person</i>
                  </div>
                  <p class="card-category">Individual</p>
                  <h5 class="card-title">
                    <small>Enroll User</small>
                  </h5>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <a data-toggle="modal" data-target="#modal7" href="#">Add one user</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card card-stats">
                <div class="card-header card-header-primary card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">lightbulb</i>
                  </div>
                  <p class="card-category">Announce</p>
                  <h5 class="card-title"><small>Inform class</small></h5>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <a data-toggle="modal" data-target="#modal2" href="#">Make a Announcement</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">quiz</i>
                  </div>
                  <p class="card-category">New Quiz</p>
                  <h5 class="card-title"><small>Assessment</small></h5>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <a data-toggle="modal" data-target="#modal3" href="#">Create a new Quiz</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">emoji_events</i>
                  </div>
                  <p class="card-category">Result</p>
                  <h5 class="card-title">
                    <small>Amelioration</small></h5>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <a href="<%= course_id + '/downloadCourseResults' %>">Download Excel File</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card card-stats">
                <div class="card-header card-header-purple card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">supervisor_account</i>
                  </div>
                  <p class="card-category">Manage TA</p>
                  <h5 class="card-title">
                    <small>Permissions</small></h5>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <a data-toggle="modal" data-target="#modal5" href="#">Ease your work</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card card-stats">
                <div class="card-header card-header-green card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">visibility</i>
                  </div>
                  <p class="card-category">Announcements</p>
                  <h5 class="card-title"><small>View</small></h5>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <a href="<%= course_id + '/announcements' %>">View Announcements...</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">delete</i>
                  </div>
                  <p class="card-category">Delete Course</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <a data-toggle="modal" data-target="#modal8" href="#">Delete This Course</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="card">
                <div class="card-header card-header-tabs card-header-green">
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item col-lg-3 col-md-6">
                          <a class="nav-link" href="#studs" data-toggle="tab">
                            <i class="material-icons">person</i> Students
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="nav-item col-lg-3 col-md-6">
                          <a class="nav-link" href="#tass" data-toggle="tab">
                            <i class="material-icons">supervisor_account</i> TA's
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="nav-item col-lg-3 col-md-6">
                          <a class="nav-link" href="#instructor" data-toggle="tab">
                            <i class="material-icons">manage_accounts</i> Instructors's
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="nav-item col-lg-3 col-md-6">
                            <a class="nav-link col active show" href="#quizes" data-toggle="tab">
                              <i class="material-icons">quiz</i> Quiz's
                              <div class="ripple-container"></div>
                            </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="tab-content">
                    <div class="tab-pane" id="studs">
                        <table class="dtBasicExample1 table table-hover table-striped table-sm tab-resp" width="100%">
                            <thead class="text-warning" width="100%">
                              <tr><th>Username</th>
                              <th>Email Address</th>
                              <th></th>
                            </tr></thead>
                            <tbody width="100%">
                              <% enrollments.forEach(enrollment => { %>
                                <% if(enrollment.accountType == student){ %>
                                  <tr>
                                    <td><%= enrollment.user.username.toUpperCase() %></td>
                                    <td><%= enrollment.user.email %></td>
                                    <td><i class="material-icons delete" onclick="deleteEnrollment('<%= enrollment._id %>')">delete</i></td>
                                  </tr>
                                <% } %>
                              <% }); %>
                            </tbody>
                        </table>        
                    </div>
                    <div class="tab-pane" id="tass">
                      <table class="dtBasicExample1 table table-hover table-striped table-sm tab-resp" width="100%">
                          <thead class="text-warning">
                            <tr><th>Username</th>
                            <th>Email Address</th>
                            <th></th>
                          </tr></thead>
                          <tbody>
                            <% enrollments.forEach(enrollment => { %>
                              <% if(enrollment.accountType == ta){ %>
                                <tr>
                                  <td><%= enrollment.user.username.toUpperCase() %></td>
                                  <td><%= enrollment.user.email %></td>
                                  <td><i class="material-icons delete" onclick="deleteEnrollment('<%= enrollment._id %>')">delete</i></td>
                                </tr>
                              <% } %>
                            <% }); %>
                          </tbody>
                      </table>              
                    </div>
                    <div class="tab-pane" id="instructor">
                      <table class="dtBasicExample1 table table-hover table-striped table-sm tab-resp" width="100%">
                        <thead class="text-warning">
                          <tr><th class="th-sm">Username</th>
                          <th class="th-sm">Email</th>
                          <th></th>
                        </tr></thead>
                        <tbody>
                          <% course.instructors.forEach(instructor => { %>
                            <tr>
                              <td><%= instructor.username.toUpperCase() %></td>
                              <td><%= instructor.email %></td>
                              <% if(String(instructor._id) !== String(user._id)){ %>
                                <td><i class="material-icons delete" onclick="deleteInstructor('<%= instructor._id %>')">delete</i></td>
                              <% }else{ %>
                                <td> </td>
                              <% }%>
                            </tr>
                          <% }) %> 
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane active show" id="quizes">
                      <table class="dtBasicExample1 table table-hover table-striped table-sm tab-resp" width="100%">
                        <thead class="text-warning">
                          <tr><th>Quiz Name</th>
                          <th>Start Date</th>
                          <th>Start Time</th>
                          <th>End Date</th>
                          <th>End Time</th>
                          <th> </th>
                        </tr></thead>
                        <tbody>
                          <% quizzes.forEach(quiz => { %>
                            <tr>
                              <td> <%= quiz.quizName %> </td>
                              <td>
                                <%= quiz.startDate.toString().slice(0,16) %>
                              </td>
                              <td>
                                <%= quiz.startDate.toString().slice(16,-31) %>
                              </td>
                              <td>
                                <%= quiz.endDate.toString().slice(0,16) %>
                              </td>
                              <td>
                                <%= quiz.endDate.toString().slice(16,-31) %>
                              </td>
                              <td class="td-actions text-right">
                                <a href="<%= '/dashboard/faculty/quiz/' + quiz._id %>" type="button" rel="tooltip" title="Edit Quiz" class="btn btn-primary btn-link btn-sm">
                                  <i class="material-icons">edit</i>
                                </a>
                              </td>
                            </tr>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      <!-- Modal 1 -->
      <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable-centered modal-lg" role="document">
          <div class="modal-content card">
            <div class="card-header card-header-green">
              <h4 class="modal-title">Add Students and TA's</h4>
            </div>
            <div class="modal-body">
                <h5 style="padding-bottom: 12px"><b>Please follow the instructions to add new Students or TA's in a genunine manner.</b></h5>
                <p style="padding-bottom: 10px">1. Only EXCEL files are allowed. <a href="/DashboardFaculty/downloads/sample_add_student_ta.xlsx" download>Sample Excel File</a></p>
                <p style="padding-bottom: 10px">2. There could be multiple columns, there order does not matter, for example - email can be given in the column after or before username but inside email column, only email should be there.</p>
                <p style="padding-bottom: 10px">3. If any duplicate entry is found, then first copy will be taken to create account.</p>
                <p style="padding-bottom: 10px">4. Compulsory Columns are : Email or Username(atleast one of them is needed), Role. Role can be "Student" or "TA". Column Names should be in title case.</p>

                <form id="addCourseMembers" action= <%= course_id + '/add' %> class="form-inline" method="POST" enctype="multipart/form-data">
                    <div class="mb-2">
                        <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="" name="excelFile" required>
                    </div>
                    <button type="submit" id="course_button" class="btn btn-primary pull-right" onclick="submitForm('addCourseMembers')">Add Members</button>
                </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal 2 -->
      <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable-centered modal-lg" role="document">
          <div class="modal-content card">
            <div class="card-header card-header-green">
              <h4 class="modal-title">Announce for class</h4>
            </div>
            <div class="modal-body">
                <h5 style="padding-bottom: 12px"><b>Make Announcement</b></h5>
                <form id="makeCourseAnnouncement">
                  <div class="form-group">
                    <label class="bmd-label-floating">Subject...</label>
                    <input class="form-control" name="subject" autocomplete="off" required/>
                  </div>
                    <input id="course_id" name="course_id" value="<%=course_id%>" hidden />
                    <div class="form-group">
                      <label class="bmd-label-floating">Type Here Something...</label>
                      <textarea class="form-control" name="message" id="ann_message" rows="4" autocomplete="off" required></textarea>
                    </div>
                    <!-- <div class="mb-2">
                      <input type="file" class="" name="file">
                    </div> -->
                    <input type="submit" id="course_button" class="btn btn-primary pull-right" value="Announce"/>
                </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal 3 -->
      <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable-centered modal-lg" role="document">
          <div class="modal-content card">
            <div class="card-header card-header-green">
              <h4 class="modal-title">Quiz Manager</h4>
            </div>
            <div class="modal-body">
                <div class="login-error-message" style="text-align: center; color: red; text-shadow: 1px 1px 2px red;">
                  <p id="setError"></p>
                </div>
                <form id="createCourseQuiz">
                    <div class="form-group">
                      <label class="bmd-label">Quiz Name</label><br>
                      <input type="text" class="form-control" id="quiz_name" name="quizName" required>
                    </div>
                    <div class="form-group">
                      <label class="bmd-label">Start Datetime of Quiz</label><br>
                      <input type="datetime-local" class="form-control" id="start_date" name="startDate" required>
                    </div>
                    <div class="form-group">
                      <label class="bmd-label">End Datetime of Quiz</label><br>
                      <input type="datetime-local" class="form-control" id="end_date" name="endDate" required>
                    </div>
                    <div class="form-group">
                      <label class="bmd-label">Quiz Type</label><br>
                      <select class="form-control" id="quiz_type" name="quizType" required>
                        <option value="Theortical">Theortical</option>
                        <option value="Lab">Lab</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label class="bmd-label">Hide Mode - Students will not able to see until quiz starts</label><br>
                      <select class="form-control" id="hidden_quiz" name="hidden" required>
                        <option value="On">On (Recommended)</option>
                        <option value="off">Off</option>
                      </select>
                    </div>
                    <input type="submit" id="course_button" class="btn btn-primary pull-right" value="Announce Quiz"/>
                </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal 5 -->
      <div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable-centered modal-lg" role="document">
          <div class="modal-content card">
            <div class="card-header card-header-green">
              <h4 class="modal-title">Manage Teaching Assistants and Permissions</h4>
            </div>
            <div class="modal-body">
                <h5 style="padding-bottom: 12px"><b>Below mentioned is the list of TA's. You can add multiple head TA.</b></h5>
                <table id="myTable1">  
                  <thead>  
                    <tr>  
                      <th>TA Username</th>  
                      <th>TA Email</th> 
                      <th>Head TA</th>
                      <th>Manage Permissions</th>
                    </tr>  
                  </thead>  
                  <tbody>
                    <% enrollments.forEach(enrollment => { %>
                      <% if(enrollment.accountType == ta){ %>
                        <tr>
                          <td><%= enrollment.user.username.toUpperCase() %></td>
                          <td><%= enrollment.user.email %></td>
                          <% if(enrollment.headTa){ %>
                            <td>Yes</td>
                            <td><button class="btn btn-primary" onclick="changeHierarchy('<%= enrollment._id %>', false)">Remove</button></td>
                          <% } else{ %>
                            <td>No</td>
                            <td><button class="btn btn-primary" onclick="changeHierarchy('<%= enrollment._id %>', true)">Appoint</button></td>
                          <% } %>
                        </tr> 
                      <% } %>
                    <% }) %>                   
                  </tbody>  
                </table>
                
            </div>
          </div>
        </div>
      </div>
      <!-- Modal 7 -->
      <div class="modal fade" id="modal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable-centered modal-lg" role="document">
          <div class="modal-content card">
            <div class="card-header card-header-green">
              <h4 class="modal-title">Add User</h4>
            </div>
            <div class="modal-body">
                <h5 style="padding-bottom: 12px"><b>Add Individual User</b></h5>
                <form id="addIndividualMember">
                  <div class="form-group">
                    <label class="bmd-label">Email</label><br>
                    <input type="text" class="form-control" id="user_email" name="email" autocomplete="off" required>
                  </div>
                  <div class="form-group">
                    <label class="bmd-label">User type</label><br>
                    <select class="form-control" id="user_type" name="accountType" required>
                      <option value="student">Student</option>
                      <option value="ta">TA</option>
                      <option value="faculty">Faculty</option>
                    </select>
                  </div>
                    <input type="submit" id="course_button" class="btn btn-primary pull-right" value="Add User"/>
                </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal 8 -->
      <div class="modal fade" id="modal8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable-centered modal-md" role="document">
          <div class="modal-content card">
            <div class="card-header card-header-green">
              <h4 class="modal-title">Delete This Course</h4>
            </div>
            <div class="modal-body">
                <h5 style="padding-bottom: 12px"><b>All data related to this course will be deleted</b></h5>
                <form id="deleteCourse" action= <%= course_id + '/delete' %> method="POST">
                  <div class="form-group">
                    <label class="bmd-label">Enter "<b><%=course_id%></b>" to delete this course</label><br>
                    <input type="text" class="form-control" id="random_string" name="confirmation" autocomplete="off" required>
                  </div>
                    <input type="submit" id="course_button" class="btn btn-primary pull-right" value="Delete Course"/>
                </form>
            </div>
          </div>
        </div>
      </div>

      </div>
<%- include('./baseEjs/footer')%>