<%- include('./baseEjs/header')%>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">person</i>
                  </div>
                  <p class="card-category">Add Members</p>
                  <h5 class="card-title">
                    <small>Expand Group</small>
                  </h5>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <a data-toggle="modal" data-target="#modal1" href="#">Upload Excel File</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">lightbulb</i>
                  </div>
                  <p class="card-category">Announce</p>
                  <h5 class="card-title"><small>Inform class</small></h5>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <a data-toggle="modal" data-target="#modal2" href="#">Make a Announcement</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">quiz</i>
                  </div>
                  <p class="card-category">New Quiz</p>
                  <h5 class="card-title"><small>Assessment</small></h5>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <a data-toggle="modal" data-target="#modal3" href="#">Create a new Quiz</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">emoji_events</i>
                  </div>
                  <p class="card-category">Result</p>
                  <h5 class="card-title">
                    <small>Check Progress</small></h5>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <a href="#">Download Excel File</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="card card-stats">
                <div class="card-header card-header-primary card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">assistant</i>
                  </div>
                  <p class="card-category">Manage TA</p>
                  <h5 class="card-title">
                    <small>Permissions</small></h5>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <a data-toggle="modal" data-target="#modal5" href="#">Ease your work</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item col-lg-3 col-md-6">
                          <a class="nav-link col" href="#studs" data-toggle="tab">
                            <i class="material-icons">person</i> Students
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="nav-item col-lg-3 col-md-6">
                          <a class="nav-link" href="#tass" data-toggle="tab">
                            <i class="material-icons">admin_panel_settings</i> TA's
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="nav-item col-lg-3 col-md-6">
                          <a class="nav-link" href="#announcemnts" data-toggle="tab">
                            <i class="material-icons">lightbulb</i> Announcements
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="nav-item col-lg-3 col-md-6">
                            <a class="nav-link active show" href="#quizes" data-toggle="tab">
                              <i class="material-icons">quiz</i> Quiz's
                              <div class="ripple-container"></div>
                            </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="tab-content">
                    <div class="tab-pane" id="studs">
                        <table class="table table-hover">
                            <thead class="text-warning">
                              <tr><th>Username</th>
                              <th>Email Address</th>
                            </tr></thead>
                            <tbody>
                              <% enrollments.forEach(enrollment => { %>
                                <% if(enrollment.accountType == student){ %>
                                  <tr>
                                    <td><%= enrollment.user.username %></td>
                                    <td><%= enrollment.user.email %></td>
                                  </tr>
                                <% } %>
                              <% }); %>
                            </tbody>
                        </table>        
                    </div>
                    <div class="tab-pane" id="tass">
                        <table class="table table-hover">
                            <thead class="text-warning">
                              <tr><th>Teaching Assistant Username</th>
                              <th>Email Address</th>
                            </tr></thead>
                            <tbody>
                              <% enrollments.forEach(enrollment => { %>
                                <% if(enrollment.accountType == ta){ %>
                                  <tr>
                                    <td><%= enrollment.user.username %></td>
                                    <td><%= enrollment.user.email %></td>
                                  </tr>
                                <% } %>
                              <% }); %>
                            </tbody>
                        </table>              
                    </div>
                    <div class="tab-pane" id="announcemnts">
                      <table class="table table-hover">
                        <thead class="text-warning">
                          <tr><th>Subject</th>
                          <th>Message</th>
                          <th>Announcement Date</th>
                        </tr></thead>
                        <tbody>
                          <% announcements.forEach(announcement =>{ %>
                            <tr>
                              <td><%= announcement.subject %></td>
                              <td><%= announcement.message %></td>
                              <td><%= announcement.createdAt.toString().slice(0,-31) %></td>
                            </tr>
                          <% }); %>
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane active show" id="quizes">
                      <table class="table table-hover">
                        <thead class="text-warning">
                          <tr><th>Duration</th>
                          <th>Quiz Name</th>
                          <th></th>
                        </tr></thead>
                        <tbody>
                          <% quizzes.forEach(quiz => { %>
                            <tr>
                              <td>
                                <%= quiz.startDate.toString().slice(0,-31) %> — <%= quiz.endDate.toString().slice(0,-31) %>
                              </td>
                              <td> <%= quiz.quizName %> </td>
                              <td class="td-actions text-right">
                                <a href="<%= '/dashboard/faculty/quiz/' + quiz._id %>" type="button" rel="tooltip" title="Edit Quiz" class="btn btn-primary btn-link btn-sm">
                                  <i class="material-icons">edit</i>
                                </a>
                              </td>
                            </tr>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal 1 -->
      <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content card">
            <div class="card-header card-header-primary">
              <h4 class="modal-title">Add Students and TA's</h4>
            </div>
            <div class="modal-body">
                <h5 style="padding-bottom: 12px"><b>Please follow the instructions to add new Students or TA's in a genunine manner.</b></h5>
                <p style="padding-bottom: 10px">1. Only EXCEL files are allowed. <a href="/DashboardFaculty/downloads/sample_add_student_ta.xlsx" download>Sample Excel File</a></p>
                <p style="padding-bottom: 10px">2. There could be multiple columns, there order does not matter, for example - email can be given in the column after or before username but inside email column, only email should be there.</p>
                <p style="padding-bottom: 10px">3. If any duplicate entry is found, then first copy will be taken to create account.</p>
                <p style="padding-bottom: 10px">4. Compulsory Columns are : Email or Username(atleast one of them is needed), Role. Role can be "Student" or "TA". Column Names should be in title case.</p>
                <p style="padding-bottom: 10px">5. All the students and tas will be added and informed through email</p>

                <form id="addCourseMembers" action= <%= course_id + '/add' %> class="form-inline" method="POST" enctype="multipart/form-data">
                    <div class="mb-2">
                        <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="" name="excelFile" required>
                    </div>
                    <button type="submit" id="course_button" class="btn btn-primary pull-right" onclick="submitForm('addCourseMembers')">Add Members</button>
                </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal 2 -->
      <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content card">
            <div class="card-header card-header-primary">
              <h4 class="modal-title">Announce for class</h4>
            </div>
            <div class="modal-body">
                <h5 style="padding-bottom: 12px"><b>Make Announcement</b></h5>
                <form id="makeCourseAnnouncement">
                  <div class="form-group">
                    <label class="bmd-label-floating">Subject...</label>
                    <input class="form-control" name="subject" required/>
                  </div>
                    <input id="course_id" name="course_id" value="<%=course_id%>" hidden />
                    <div class="form-group">
                      <label class="bmd-label-floating">Type Here Something...</label>
                      <textarea class="form-control" name="message" id="ann_message" rows="4" required></textarea>
                    </div>
                    <input type="submit" id="course_button" class="btn btn-primary pull-right" value="Announce"/>
                </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal 3 -->
      <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content card">
            <div class="card-header card-header-primary">
              <h4 class="modal-title">Quiz Manager</h4>
            </div>
            <div class="modal-body">
                <div class="login-error-message" style="text-align: center; color: red; text-shadow: 1px 1px 2px red;">
                  <p id="setError"></p>
                </div>
                <form id="createCourseQuiz">
                    <div class="form-group">
                      <label class="bmd-label">Quiz Name</label><br>
                      <input type="text" class="form-control" id="quiz_name" name="quizName" required>
                    </div>
                    <div class="form-group">
                      <label class="bmd-label">Start Datetime of Quiz</label><br>
                      <input type="datetime-local" class="form-control" id="start_date" name="startDate" required>
                    </div>
                    <div class="form-group">
                      <label class="bmd-label">End Datetime of Quiz</label><br>
                      <input type="datetime-local" class="form-control" id="end_date" name="endDate" required>
                    </div>
                    <div class="form-group">
                      <label class="bmd-label">Quiz Type</label><br>
                      <select class="form-control" id="quiz_type" name="quizType" required>
                        <option value="Theortical">Theortical</option>
                        <option value="Lab">Lab</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label class="bmd-label">Hide Mode - Students will not able to see until quiz starts</label><br>
                      <select class="form-control" id="hidden_quiz" name="hidden" required>
                        <option value="On">On (Recommended)</option>
                        <option value="off">Off</option>
                      </select>
                    </div>
                    <input type="submit" id="course_button" class="btn btn-primary pull-right" value="Announce Quiz"/>
                </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal 5 -->
      <div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content card">
            <div class="card-header card-header-primary">
              <h4 class="modal-title">Manage Teaching Assistants and Permissions</h4>
            </div>
            <div class="modal-body">
                <h5 style="padding-bottom: 12px"><b>Below mentioned is the list of TA's. You can add multiple main TA and manage their permissions. A page refresh is needed to see effects in new permissions in this table</b></h5>
                <table id="myTable1">  
                  <thead>  
                    <tr>  
                      <th>TA Username</th>  
                      <th>TA Email</th> 
                      <th>Head TA</th>
                      <th>Manage</th>
                    </tr>  
                  </thead>  
                  <tbody>
                    <% enrollments.forEach(enrollment => { %>
                      <% if(enrollment.accountType == ta){ %>
                        <tr>
                          <td><%= enrollment.user.username %></td>
                          <td><%= enrollment.user.email %></td>
                          <% if(enrollment.headTa){ %>
                            <td>Yes</td>
                            <td><button class="btn btn-primary" onclick="changeHierarchy('<%= enrollment._id %>', false)">Remove</button></td>
                          <% } else{ %>
                            <td>No</td>
                            <td><button class="btn btn-primary" onclick="changeHierarchy('<%= enrollment._id %>', true)">Make</button></td>
                          <% } %>
                        </tr> 
                      <% } %>
                    <% }) %>                   
                  </tbody>  
                </table>
                
            </div>
          </div>
        </div>
      </div>
      </div>
<%- include('./baseEjs/footer')%>