<%- include('./baseEjs/header')%>
      <div class="content">
        <div class="container-fluid">
              
            <div class="row">
                
                <div class="col-md-3 col-sm-6">
                    <div class="add vertical-center">
                        <a data-toggle="modal" data-target="#modal2" href="#"><span class="material-icons add-ico"> add_box </span></a>
                    </div>
                </div>
                    <% courses.forEach( course => { %>
                    <div class="col-md-3 col-sm-6">
                        <div class="card card-chart course">
                            <img src="data:image/<%=course.courseImage.contentType%>;base64,
                            <%=course.courseImage.data.toString('base64')%>" data-toggle="modal" data-target="#modal" onclick="setID('<%= course._id%>')">
                            <div class="card-body">
                                <h4 class="card-title"><%= course.courseName %><a href="#" data-toggle="modal" data-target="#modal1" class="material-icons" style="float: right;" onclick="setIDName('<%= course._id %>', '<%= course.courseName %>')">edit</a></h4>
                                <p class="card-category">Started On <%= course.createdOn.toString().slice(0,-31) %></p>
                            </div>
                            <a href=<%= 'faculty/course/' + course._id %>>
                            <div class="card-footer">
                                <div class="stats" style="color: #5BB12F;">
                                Click to view more...
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                    <% }); %>
                    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content card">
                            <div class="card-header card-header-green">
                            <h5 class="modal-title" id="title">Upload Image</h5>
                            </div>
                            <div class="modal-body">
                                <form id="changeCourseImage" method="POST" enctype="multipart/form-data" action="/dashboard/faculty/changeCourseImage">
                                    <input type="hidden" name="_id" id="course_id" class="form-control" required>
                                    <h4>Upload an image for the course</h4>
                                    <input type="file" name="imageFile" required><br><br>
                                    <button type="submit" id="course_button" class="btn btn-primary pull-right" onclick="submitForm('changeCourseImage')">Upload</button>
                                </form>
                            </div>
                        </div>
                        </div>
                    </div>
        
                    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content card">
                            <div class="card-header card-header-green">
                            <h5 class="modal-title" id="title1">Change Course Name</h5>
                            </div>
                            <div class="modal-body">
                                <form id="changeCourseName">
                                <input type="hidden" name="_id" id="course_id1" class="form-control" required>
                                <h4>Edit Course Name</h4>
                                <input type="text" name="courseName" class="form-control" id="cour_name" required><br><br>
                                <input type="submit" id="course_button" class="btn btn-primary pull-right" value="Edit"/>
                                </form>
                            </div>
                        </div>
                        </div>
                    </div>
        
                    <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                          <div class="modal-content card">
                            <div class="card-header card-header-green">
                              <h4 class="modal-title">New Course</h4>
                              <p class="card-category">Manage a new course</p>
                            </div>
                            <div class="modal-body">
                                <form id="courseCreationForm">
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group">
                                          <label>1. Courses can not be deleted once created</label><br>
                                          <label>2. Do not give any course name which you have used earlier</label><br>
                                          <label>3. This product only supports function of 1 main instructor who started the course</label><br>
                                          <label>4. Please visit the respective course to add students/TAs or make any announcement</label><br>
                                          <label>5. Any student or TA added late will be able to see all the announcements even if announced before his/her joining</label><br>
                                          <div class="form-group">
                                            <label class="bmd-label"> Enter the name of new course to create it</label><br>
                                            <input class="form-control" name="courseName" id="ann_message" rows="4" required/>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <input type="submit" id="course_button" class="btn btn-primary pull-right" value="Create New Course" />
                                    <div class="clearfix"></div>
                                  </form>
                            </div>
                          </div>
                        </div>
                    </div>
            </div>

        </div>
    </div> 
<%- include('./baseEjs/footer')%>